################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
packages/

/AsyncTcpServer/obj/
/AsyncTcpServer/bin/
/AsyncTcpServer/logFile.json

/ClassesLib/obj/
/ClassesLib/bin/

/RabbitMqConsumer/obj/
/RabbitMqConsumer/bin/
/RabbitMqConsumer/logFile.json

/ReqSender/obj/
/ReqSender/bin/

/WebApplication1/obj/
/WebApplication1/bin/
/WebApplication1/logFile.json

/.vs/
*.ide
*.suo
*.user
.idea/
